@model QueueManagement.Application.DTOs.Token.GenerateTokenDto

<h2>Generate Token</h2>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All"
         class="text-danger"></div>

    <div class="mb-3">

        <label>Category</label>

        <select asp-for="CategoryId"
                asp-items="ViewBag.Categories"
                class="form-select"
                id="categoryDropdown">

            <option value="0">
                Select Category
            </option>

        </select>

        <span asp-validation-for="CategoryId"
              class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label>SubCategory</label>

        <select asp-for="SubCategoryId"
                class="form-select"
                id="subCategoryDropdown">

            <option value="">
                Select SubCategory
            </option>

        </select>

    </div>

    <div class="mb-3">

        <label>Customer Name</label>

        <input asp-for="CustomerName"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Mobile Number</label>

        <input asp-for="MobileNumber"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Email</label>

        <input asp-for="Email"
               class="form-control" />

    </div>

    <button type="submit"
            class="btn btn-success">
        Generate
    </button>

</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync(
            "_ValidationScriptsPartial");
    }

    <script>

        $("#categoryDropdown").change(function () {

            var categoryId = $(this).val();

            $("#subCategoryDropdown").empty();

            $.getJSON('/Token/GetSubCategories',
                { categoryId: categoryId },
                function (data) {

                    $("#subCategoryDropdown").append(
                        '<option value="">Select SubCategory</option>'
                    );

                    $.each(data, function (i, item) {

                        $("#subCategoryDropdown").append(
                            '<option value="' + item.id + '">'
                            + item.name +
                            '</option>'
                        );

                    });

                });

        });

    </script>

}