@model QueueManagement.Application.DTOs.Counter.CreateCounterDto

<h2>Create Counter</h2>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All"
         class="text-danger"></div>

    <div class="mb-3">

        <label>Name</label>

        <input asp-for="Name"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Counter Number</label>

        <input asp-for="CounterNumber"
               class="form-control" />

    </div>

    <button type="submit"
            class="btn btn-success">
        Save
    </button>

</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync(
            "_ValidationScriptsPartial");
    }

}